<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :paciente_nombre %>
  </div>

  <div class="field">
    <%= form.label :segundo_nombre %>
    <%= form.text_field :segundo_nombre, id: :paciente_segundo_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido_paterno %>
    <%= form.text_field :apellido_paterno, id: :paciente_apellido_paterno %>
  </div>

  <div class="field">
    <%= form.label :apellido_materno %>
    <%= form.text_field :apellido_materno, id: :paciente_apellido_materno %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento, id: :paciente_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut, id: :paciente_rut %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :paciente_direccion %>
  </div>

  <div class="field">
    <%= form.label :prevision %>
    <%= form.text_field :prevision, id: :paciente_prevision %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :paciente_telefono %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :paciente_celular %>
  </div>

  <div class="field">
    <%= form.label :ocupacion %>
    <%= form.text_field :ocupacion, id: :paciente_ocupacion %>
  </div>

  <div class="field">
    <%= form.label :ciudad %>
    <%= form.text_field :ciudad, id: :paciente_ciudad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
