<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :nombre, id: :paciente_nombre %>
</div>

<div class="field">
    <%= form.label :"Segundo Nombre" %>
    <%= form.text_field :segundo_nombre, id: :paciente_segundo_nombre %>
</div>

  <div class="field">
    <%= form.label :"Apellido Paterno" %>
    <%= form.text_field :apellido_paterno, id: :paciente_apellido_paterno %>
  </div>

  <div class="field">
    <%= form.label :"Apellido Materno" %>
    <%= form.text_field :apellido_materno, id: :paciente_apellido_materno %>
  </div>

  <div class="field">
    <%= form.label :"Fecha de Nacimiento" %>
    <%= form.date_select :fecha_nacimiento, id: :paciente_fecha_nacimiento,
    :order => [:day, :month, :year],:use_month_names=> ["Enero","Febrero","Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre",
    "Octubre", "Noviembre", "Diciembre"],  :start_year => Date.today.year - 110, :end_year => Date.today.year %>
  </div>


  <div class="field">
    <%= form.label :Rut %>
    <%= form.text_field :rut, :placeholder =>"12.345.678-9", id: :paciente_rut %>
  </div>

  <div class="field">
    <%= form.label :Dirección %>
    <%= form.text_field :direccion, id: :paciente_direccion %>
  </div>


<div class="field">
  <%= form.label :Previsión %>
  <%= form.select :prevision, ["Banmédica","Colmena","Consalud","CruzBlanza", "Isapre Fundación", "Particular", "Masvida", "Vidatres"],id: :paciente_prevision%>
</div>

  <div class="field">
    <%= form.label :Teléfono %>
    <%= form.text_field :telefono, id: :paciente_telefono %>
  </div>

  <div class="field">
    <%= form.label :Celular %>
    <%= form.text_field :celular, id: :paciente_celular %>
  </div>

  <div class="field">
    <%= form.label :Ocupación %>
    <%= form.text_field :ocupacion, id: :paciente_ocupacion %>
  </div>

  <div class="field">
    <%= form.label :Ciudad %>
    <%= form.text_field :ciudad, id: :paciente_ciudad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
