<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pacientes Dr. Arellano</title>
    <title><%= full_title(yield(:title)) %></title>
    <h1>Pacientes Dr.Arellano</h1>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'layouts/alerts'%>
  <%= yield %>



<% if user_signed_in? %>
<div class="d-inline ml-1"><%=link_to 'Pacientes', pacientes_path, :class => "button"%></div>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>


<div class ="d-inline ml-2"> <%= link_to "Login", new_user_session_path, :class => "btn btn-primary btn-sm" %></div>
<% end %>
</body>
</html>
